<nav class="navbar">
    <a href="/" class="links a-img">
      <img class="logo" src="resources/img/wapstore-logo.png" alt="wap.store logo">
    </a>
    <ul class="ulnav">
      <li class="links"><a href="https://www.wapstore.com.br/funcionalidades/" class="nav-item">Funcionalidades</a></li>
      <li class="links"><a href="" class="nav-item">Empresa</a></li>
      <li class="links"><a href="https://www.wapstore.com.br/nossos-clientes/" class="nav-item">Clientes</a></li>
    </ul>
    <a href="https://www.wapstore.com.br/contato/" class="links">
      <button type="button" name="button" class="btn-message">Converse com a gente -></button>
    </a>
</nav>
