<div class="post">
  <a href="/post/{{id}}" class="link-img">
    <img class="post-image" src="{{img}}" alt="imagem">
  </a>
  <h2 class="post-title" align="center"><a href="/post/{{id}}">{{title}}</a></h2>
   <!-- <small class="post-date">Data de postagem: {{date}}</small> -->
  <p class="post-content">{{content}}</p>
</div>
<div class="post">
  <a href="/post/{{id}}" class="link-img">
    <img class="post-image" src="{{img}}" alt="imagem">
  </a>
  <h2 class="post-title" align="center"><a href="/post/{{id}}">{{title}}</a></h2>
   <!-- <small class="post-date">Data de postagem: {{date}}</small> -->
  <p class="post-content">{{content}}</p>
</div>
