<h1 align="center" class="home-title">Login</h1>
  {{error}}
  <form id="login-form" class="form" action="/admin/login" method="post">
    <div class="form-group">
      <label for="content">Email</label>
      <input type="email" name="email" placeholder="admin@email.com" class="ipt-title" required>
    </div>
    <div class="form-group">
      <label for="content">Senha</label>
      <input type="password" name="password" placeholder="********" class="ipt-title" required>
    </div>
    <div class="form-group">
      <button type="submit" class="ipt-btn send-btn">Login</button>
    </div>
  </form>
